@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
._spoller-init .menu-footer__title::before, .select__value:after, [class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow-down:before, ._spoller-init .menu-footer__title:before {
  content: "\e900";
}

._icon-cart:before {
  content: "\e901";
}

._icon-favorite:before {
  content: "\e902";
}

._icon-like:before {
  content: "\e903";
}

._icon-location:before {
  content: "\e904";
}

._icon-phone:before {
  content: "\e905";
}

._icon-search:before {
  content: "\e906";
}

._icon-tag:before {
  content: "\e907";
}

._icon-truck:before {
  content: "\e908";
}

._icon-user:before {
  content: "\e909";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #1D1818;
  line-height: 1;
  font-family: "PT Sans";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "PT Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  line-height: 1.3333333333;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
a {
  transition: all 0.3s ease 0s;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 95rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.select {
  position: relative;
}
.select__body {
  position: relative;
}
.select__title {
  color: inherit;
  text-align: left;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}
.select__value {
  font-weight: 700;
  display: flex;
  align-items: center;
  height: 1.875rem;
  padding: 0 0.9375rem;
  gap: 0.625rem;
}
.select__value > * {
  flex: 1 1 auto;
}
.select__value:after {
  content: "\e900";
  font-size: 0.5rem;
  align-self: stretch;
  transition: all 0.3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0px, 3px);
}
._select-open .select__value:after {
  transform: rotate(-180deg) translate(0px, -3px);
}
.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}
.select__text {
  flex: 1 1 auto;
}
.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}
.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  padding: 10px 0px 5px 0px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}
.select__option {
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}
.select__option._select-selected {
  background-color: #eee;
}
@media (any-hover: hover) {
  .select__option:hover {
    background: #BDBDBD;
  }
}
.select__row {
  display: inline-flex;
  align-items: center;
}
.select._select-open {
  z-index: 5;
}
._select-tag {
  cursor: pointer;
}

@media (max-width: 47.99875em) {
  .select__value {
    background-color: #BDBDBD;
  }
}

@media (max-width: 47.99875em) {
  .select__options {
    top: -150px;
  }
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}
.lock .popup__content {
  visibility: visible;
}

.order-popup {
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}

.popup__close {
  font-size: 50px;
  position: absolute;
  right: 20px;
  top: 0px;
  transition: all 0.3s ease 0s;
  z-index: 5;
}
@media (any-hover: hover) {
  .popup__close:hover {
    color: #1e90ff;
  }
}

.input-container {
  position: relative;
  margin: 50px auto;
  width: 200px;
}

.input-container input[type=text] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container input[type=tel] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type=text]:focus ~ .label,
.input-container input[type=text]:valid ~ .label,
.input-container input[type=tel]:focus ~ .label,
.input-container input[type=tel]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: #333;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type=text]:focus ~ .underline,
.input-container input[type=text]:valid ~ .underline,
.input-container input[type=tel]:focus ~ .underline,
.input-container input[type=tel]:valid ~ .underline {
  transform: scaleX(1);
}

.order-popup__button {
  outline: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 140px;
  height: 50px;
  border-radius: 0.5em;
  box-shadow: 0 0.625em 1em 0 rgba(30, 143, 255, 0.35);
  overflow: hidden;
  margin: 0 auto;
}

.order-popup__button div {
  transform: translateY(0px);
  width: 100%;
}

.order-popup__button,
.order-popup__button div {
  transition: 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.order-popup__button div span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0.75em 1.125em;
}

.order-popup__button div:nth-child(1) {
  background-color: #1e90ff;
}

.order-popup__button div:nth-child(2) {
  background-color: #E13B3F;
}

.order-popup__button:hover {
  box-shadow: 0 0.625em 1em 0 rgba(225, 59, 63, 0.35);
}

button:hover div {
  transform: translateY(-50px);
}

.order-popup__button p {
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
}

.order-popup__button:active {
  transform: scale(0.95);
}

.enter__popup {
  max-width: 400px;
  margin: 0 auto;
}

.register__popup {
  max-width: 400px;
  margin: 0 auto;
}

.register__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  background-color: #eee;
  border-radius: 20px;
  position: relative;
}

.register__title {
  font-size: 28px;
  color: #1e90ff;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.register__title::before, .register__title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #1e90ff;
}

.register__title::before {
  width: 18px;
  height: 18px;
  background-color: #1e90ff;
}

.register__title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: #1e90ff;
  margin-left: 3px;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}
@media (max-width: 25em) {
  .flex {
    flex-direction: column;
  }
}

.register__form label {
  position: relative;
}

.register__form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.register__form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.register__form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.register__form label .input:focus + span, .form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.register__form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: #1e90ff;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  font-weight: 700;
  text-transform: uppercase;
}

.submit:hover {
  background-color: #385ac2;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
[data-showmore-button] span:last-child {
  display: none;
}
._showmore-active [data-showmore-button] span {
  display: none;
}
._showmore-active [data-showmore-button] span:last-child {
  display: block;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid #384685;
  transition: all 0.3s ease 0s;
}

.title {
  padding-right: 15px;
  font-weight: 700;
  line-height: 1.3333333333;
  text-transform: uppercase;
}
@media (min-width: 96.875em) {
  .title {
    font-size: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (font-size: clamp( 1.375rem , 1.2449186992rem  +  0.6504065041vw , 1.875rem )) {
    .title {
      font-size: clamp( 1.375rem , 1.2449186992rem  +  0.6504065041vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1.375rem , 1.2449186992rem  +  0.6504065041vw , 1.875rem )) {
    .title {
      font-size: calc(1.375rem + 0.5 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 1.375rem;
  }
}
@media (min-width: 96.875em) {
  .title {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (margin-bottom: clamp( 1.25rem , 0.924796748rem  +  1.6260162602vw , 2.5rem )) {
    .title {
      margin-bottom: clamp( 1.25rem , 0.924796748rem  +  1.6260162602vw , 2.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , 0.924796748rem  +  1.6260162602vw , 2.5rem )) {
    .title {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .title {
    margin-bottom: 1.25rem;
  }
}

.header__top-wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 47.99875em) {
  .header__top-wrapper {
    margin-left: -15px;
    display: block;
  }
}
@media (min-width: 47.99875em) {
  .header__top {
    padding: 17px 0px 17px 0px;
    border-bottom: 1px solid #BDBDBD;
  }
}
.header__top-iconlocation::before {
  color: #384685;
  font-size: 1.5rem;
}
.header__top-location {
  display: flex;
}
@media (max-width: 47.99875em) {
  .header__top-location {
    margin-left: 15px;
  }
}
.header__top-city {
  position: relative;
}
.header__top-city::before {
  font-size: 12px;
}
.header__top-arrow {
  position: absolute;
  top: 15px;
  right: 5px;
}
.header__top-arrow::before {
  font-size: 6px;
}
.header__top-right {
  flex: 1;
}
.header__top-rightlist {
  display: flex;
  align-items: center;
}
@media (min-width: 96.875em) {
  .header__top-rightlist {
    column-gap: 2.375rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (column-gap: clamp( 0.625rem , 0.1697154472rem  +  2.2764227642vw , 2.375rem )) {
    .header__top-rightlist {
      column-gap: clamp( 0.625rem , 0.1697154472rem  +  2.2764227642vw , 2.375rem );
    }
  }
  @supports not (column-gap: clamp( 0.625rem , 0.1697154472rem  +  2.2764227642vw , 2.375rem )) {
    .header__top-rightlist {
      column-gap: calc(0.625rem + 1.75 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .header__top-rightlist {
    column-gap: 0.625rem;
  }
}
@media (max-width: 47.99875em) {
  .header__top-rightlist {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 47.99875em) and (min-width: 96.875em) {
  .header__top-rightlist {
    column-gap: 0.00000625rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 96.875em) {
  @supports (column-gap: clamp( 0.00000625rem , 0.00000625rem  +  0vw , 0.00000625rem )) {
    .header__top-rightlist {
      column-gap: clamp( 0.00000625rem , 0.00000625rem  +  0vw , 0.00000625rem );
    }
  }
  @supports not (column-gap: clamp( 0.00000625rem , 0.00000625rem  +  0vw , 0.00000625rem )) {
    .header__top-rightlist {
      column-gap: calc(0.00000625rem + 0 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .header__top-rightlist {
    column-gap: 0.00000625rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 96.875em) {
  .header__top-rightlist {
    margin-left: 0.00000625rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 96.875em) {
  @supports (margin-left: clamp( 0.00000625rem , 0.00000625rem  +  0vw , 0.00000625rem )) {
    .header__top-rightlist {
      margin-left: clamp( 0.00000625rem , 0.00000625rem  +  0vw , 0.00000625rem );
    }
  }
  @supports not (margin-left: clamp( 0.00000625rem , 0.00000625rem  +  0vw , 0.00000625rem )) {
    .header__top-rightlist {
      margin-left: calc(0.00000625rem + 0 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .header__top-rightlist {
    margin-left: 0.00000625rem;
  }
}
@media (max-width: 47.99875em) {
  .header__top-rightlist-item {
    margin-bottom: 8px;
    line-height: 1.2222222222;
  }
}
.header__top-rightlist-link {
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header__top-rightlist-link:hover {
    color: #E13B3F;
  }
}
.header__top-leftlist {
  display: flex;
  align-items: center;
}
@media (min-width: 96.875em) {
  .header__top-leftlist {
    column-gap: 3.5rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (column-gap: clamp( 0.625rem , -0.1229674797rem  +  3.7398373984vw , 3.5rem )) {
    .header__top-leftlist {
      column-gap: clamp( 0.625rem , -0.1229674797rem  +  3.7398373984vw , 3.5rem );
    }
  }
  @supports not (column-gap: clamp( 0.625rem , -0.1229674797rem  +  3.7398373984vw , 3.5rem )) {
    .header__top-leftlist {
      column-gap: calc(0.625rem + 2.875 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .header__top-leftlist {
    column-gap: 0.625rem;
  }
}
@media (max-width: 47.99875em) {
  .header__top-leftlist {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 47.99875em) {
  .header__top-left-item {
    margin-bottom: 0.5rem;
    line-height: 1.2222222222;
  }
}
.header__top-left-link {
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header__top-left-link:hover {
    color: #E13B3F;
  }
}
.header__middle-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px 14px 0px;
}
@media (max-width: 620px) {
  .header__middle-wrapper {
    position: relative;
  }
}
@media (max-width: 1230px) {
  .header__middle-logo {
    flex: 1;
  }
}
@media (max-width: 1060px) {
  .header__middle-location {
    display: none;
  }
}
.header__middle-address {
  font-style: normal;
  margin-bottom: 0.375rem;
}
.header__middle-link {
  color: #E13B3F;
  text-decoration: underline !important;
}
@media (any-hover: hover) {
  .header__middle-link:hover {
    color: #A8D1E7;
  }
}
.header__middle-call {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header__middle-phone {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 11px;
  transition: all 0.3s ease 0s;
}
.header__middle-phone::before {
  padding-right: 10px;
}
@media (any-hover: hover) {
  .header__middle-phone:hover {
    color: #E13B3F;
  }
}
@media (max-width: 1230px) {
  .header__middle-phone {
    width: 34px;
    height: 34px;
    overflow: hidden;
    margin-bottom: 0px;
  }
}
.header__middle-order {
  color: #E13B3F;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #E13B3F;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: all 0.3s ease 0s;
}
@media (min-width: 96.875em) {
  .header__middle-order {
    padding-left: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (padding-left: clamp( 0.3125rem , 0.0035569106rem  +  1.5447154472vw , 1.5rem )) {
    .header__middle-order {
      padding-left: clamp( 0.3125rem , 0.0035569106rem  +  1.5447154472vw , 1.5rem );
    }
  }
  @supports not (padding-left: clamp( 0.3125rem , 0.0035569106rem  +  1.5447154472vw , 1.5rem )) {
    .header__middle-order {
      padding-left: calc(0.3125rem + 1.1875 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .header__middle-order {
    padding-left: 0.3125rem;
  }
}
@media (min-width: 96.875em) {
  .header__middle-order {
    padding-right: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (padding-right: clamp( 0.3125rem , 0.0035569106rem  +  1.5447154472vw , 1.5rem )) {
    .header__middle-order {
      padding-right: clamp( 0.3125rem , 0.0035569106rem  +  1.5447154472vw , 1.5rem );
    }
  }
  @supports not (padding-right: clamp( 0.3125rem , 0.0035569106rem  +  1.5447154472vw , 1.5rem )) {
    .header__middle-order {
      padding-right: calc(0.3125rem + 1.1875 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .header__middle-order {
    padding-right: 0.3125rem;
  }
}
@media (any-hover: hover) {
  .header__middle-order:hover {
    color: #A8D1E7;
    border: 1px solid #A8D1E7;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 1230px) {
  .header__middle-order {
    display: none;
  }
}
.header__middle-actions {
  display: flex;
  padding: 15px 0px;
  justify-content: space-evenly;
}
@media (min-width: 96.875em) {
  .header__middle-actions {
    column-gap: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (column-gap: clamp( 0.625rem , 0.299796748rem  +  1.6260162602vw , 1.875rem )) {
    .header__middle-actions {
      column-gap: clamp( 0.625rem , 0.299796748rem  +  1.6260162602vw , 1.875rem );
    }
  }
  @supports not (column-gap: clamp( 0.625rem , 0.299796748rem  +  1.6260162602vw , 1.875rem )) {
    .header__middle-actions {
      column-gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .header__middle-actions {
    column-gap: 0.625rem;
  }
}
@media (max-width: 47.99875em) {
  .header__middle-actions {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    background-color: #fff;
    border: 1px solid #C4C4C4;
  }
}
.header .search-form__item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-radius: 25px;
  border: 1px solid #A8D1E7;
  background-color: #fff;
  max-width: 296px;
  width: 100%;
  height: 45px;
  font-size: 16px;
  margin: 0 10px;
  padding: 12px 15px;
}
@media (max-width: 620px) {
  .header .search-form__item {
    max-width: 600px;
    margin: 0px 0px 1.25rem 0px;
  }
}
.header .search-form__btn {
  cursor: pointer;
  background-color: transparent;
  padding: 5px 0px 5px 10px;
}
.header .search-form__btn::before {
  font-size: 1.125rem;
  color: #A8D1E7;
}
.header .search-form__input {
  width: 100%;
  outline: none;
  background-color: transparent;
}
.header .search-form__input::placeholder {
  color: #626262;
}
.header .actions__header-user {
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header .actions__header-user:hover {
    color: #E13B3F;
  }
}
.header .actions__header-favorite {
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header .actions__header-favorite:hover {
    color: #E13B3F;
  }
}
.header .actions__header-cart {
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header .actions__header-cart:hover {
    color: #E13B3F;
  }
}
.header__bottom {
  background-color: #A8D1E7;
}
@media (max-width: 47.99875em) {
  .header__bottom {
    background-color: transparent;
  }
}
.header__bottom-wrapper {
  display: flex;
  align-items: center;
}
.header__bottom-btn {
  background-color: #384685;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  margin-left: 2.5rem;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
}
@media (min-width: 96.875em) {
  .header__bottom-btn {
    height: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (height: clamp( 2.5rem , 2.174796748rem  +  1.6260162602vw , 3.75rem )) {
    .header__bottom-btn {
      height: clamp( 2.5rem , 2.174796748rem  +  1.6260162602vw , 3.75rem );
    }
  }
  @supports not (height: clamp( 2.5rem , 2.174796748rem  +  1.6260162602vw , 3.75rem )) {
    .header__bottom-btn {
      height: calc(2.5rem + 1.25 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .header__bottom-btn {
    height: 2.5rem;
  }
}
@media (min-width: 96.875em) {
  .header__bottom-btn {
    padding-left: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (padding-left: clamp( 0.0625rem , -0.2464430894rem  +  1.5447154472vw , 1.25rem )) {
    .header__bottom-btn {
      padding-left: clamp( 0.0625rem , -0.2464430894rem  +  1.5447154472vw , 1.25rem );
    }
  }
  @supports not (padding-left: clamp( 0.0625rem , -0.2464430894rem  +  1.5447154472vw , 1.25rem )) {
    .header__bottom-btn {
      padding-left: calc(0.0625rem + 1.1875 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .header__bottom-btn {
    padding-left: 0.0625rem;
  }
}
@media (min-width: 96.875em) {
  .header__bottom-btn {
    padding-right: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (padding-right: clamp( 0.0625rem , -0.2464430894rem  +  1.5447154472vw , 1.25rem )) {
    .header__bottom-btn {
      padding-right: clamp( 0.0625rem , -0.2464430894rem  +  1.5447154472vw , 1.25rem );
    }
  }
  @supports not (padding-right: clamp( 0.0625rem , -0.2464430894rem  +  1.5447154472vw , 1.25rem )) {
    .header__bottom-btn {
      padding-right: calc(0.0625rem + 1.1875 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .header__bottom-btn {
    padding-right: 0.0625rem;
  }
}
@media (min-width: 96.875em) {
  .header__bottom-btn {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (font-size: clamp( 0.5rem , 0.3048780488rem  +  0.9756097561vw , 1.25rem )) {
    .header__bottom-btn {
      font-size: clamp( 0.5rem , 0.3048780488rem  +  0.9756097561vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 0.5rem , 0.3048780488rem  +  0.9756097561vw , 1.25rem )) {
    .header__bottom-btn {
      font-size: calc(0.5rem + 0.75 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .header__bottom-btn {
    font-size: 0.5rem;
  }
}
@media (any-hover: hover) {
  .header__bottom-btn:hover {
    color: #E13B3F;
  }
}
@media (max-width: 1170px) {
  .header__bottom-btn {
    display: none;
  }
}
.header__bottom-title {
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 1.25rem;
  line-height: 1.75;
  text-transform: uppercase;
}
@media (min-width: 47.99875em) {
  .header__bottom-title {
    display: none;
  }
}
.header__menu {
  flex: 1;
}

.menu__body {
  left: -100%;
}
@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 320px;
    top: 0rem;
    overflow: auto;
    background-color: #F2F2F2;
    padding: 22px 30px 85px 15px;
    transition: left 0.3s ease 0s;
    z-index: 4;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: -100%;
    background-color: transparent;
    transition: left 0.3s ease 0s;
    z-index: 2;
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    left: 0;
  }
}
@media (max-width: 47.99875em) {
  .menu {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
  }
}
.menu__body-decor {
  transition: all 0.3s ease 0s;
}
@media (max-width: 47.99875em) {
  .menu__body-decor {
    width: 100%;
    height: 73px;
    background-color: #BDBDBD;
    position: fixed;
    max-width: 320px;
    bottom: 0;
    left: -100%;
    display: flex;
    align-items: center;
  }
}
.menu__body-decor._open-decor {
  left: 0;
}
@media (min-width: 47.99875em) {
  .menu__list {
    display: flex;
    justify-content: space-between;
    column-gap: 8px;
  }
}
@media (max-width: 875px) {
  .menu__list {
    justify-items: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 61.99875em) {
  .menu__list {
    justify-items: center;
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    margin-bottom: 2.8125rem;
  }
}
.menu__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  margin: 0 3px;
  padding: 10px 0px;
  position: relative;
  flex-wrap: wrap;
}
@media (any-hover: hover) {
  .menu__item:hover .menu__sub-list {
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .menu__item:hover .menu__arrow {
    transform: rotate(-180deg);
  }
  .menu__item:hover .menu__arrow,
.menu__item:hover .menu__link {
    color: #999;
  }
}
@media (min-width: 47.99875em) {
  .menu__item {
    flex-wrap: nowrap;
  }
  .menu__item._hover:hover .menu__sub-list {
    transform: translate(0px, 10px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .menu__item._hover:hover .menu__arrow {
    transform: rotate(-180deg);
  }
  .menu__item._hover:hover .menu__arrow,
.menu__item._hover:hover .menu__link {
    color: #999;
  }
}
@media (max-width: 47.99875em) {
  .menu__item {
    padding: 0px 0px;
  }
  .menu__item .menu__arrow {
    font-size: 10px;
  }
  .menu__item:last-child {
    margin-bottom: 0;
  }
}
.menu__link {
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
  font-size: 1.25rem;
  transition: color 0.3s ease 0s;
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-weight: 400;
    line-height: 1.9444444444;
  }
}
.menu__arrow {
  margin: 0px 0px 0px 4px;
  transition: all 0.3s ease 0s;
  font-size: 8px;
}
@media (max-width: 47.99875em) {
  .menu__arrow {
    font-size: 14px;
  }
  .menu__arrow._spoller-active {
    transform: rotate(-180deg);
  }
}
.menu__sub-list {
  position: relative;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
  padding: 20px 0px 20px 0px;
  flex: 1 1 100%;
}
@media (min-width: 47.99875em) {
  .menu__sub-list {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    transform: translate(0px, 10px);
    pointer-events: none;
    min-width: 200px;
    left: 0;
    position: absolute;
    top: 100%;
    z-index: 5;
  }
}
@media (max-width: 47.99875em) {
  .menu__sub-list {
    margin: 10px -15px 15px 0px;
  }
}
.menu__sub-item {
  padding: 10px 0px 10px 0px;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__sub-item:hover {
    background-color: #F2F2F2;
  }
  .menu__sub-item:hover .menu__sub-link {
    color: #A8D1E7;
  }
}
.menu__sub-link {
  color: inherit;
  line-height: 120%;
  padding: 10px 30px 10px 30px;
}
@media (max-width: 47.99875em) {
  .menu__sub-link {
    font-size: 18px;
    font-weight: 400;
  }
}

@media (min-width: 47.99875em) {
  .menu__icon-wrapper {
    display: none;
  }
}
@media (max-width: 47.99875em) {
  .menu__icon-wrapper {
    background-color: #000;
    flex: 0 0 38px;
    height: 38px;
    border-radius: 50%;
    position: relative;
    z-index: 5;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: absolute;
    width: 1.375rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.footer {
  background-color: #384685;
}
@media (min-width: 96.875em) {
  .footer {
    padding-top: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (padding-top: clamp( 1.25rem , 0.924796748rem  +  1.6260162602vw , 2.5rem )) {
    .footer {
      padding-top: clamp( 1.25rem , 0.924796748rem  +  1.6260162602vw , 2.5rem );
    }
  }
  @supports not (padding-top: clamp( 1.25rem , 0.924796748rem  +  1.6260162602vw , 2.5rem )) {
    .footer {
      padding-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .footer {
    padding-top: 1.25rem;
  }
}
@media (min-width: 96.875em) {
  .footer {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (padding-bottom: clamp( 1.25rem , 0.924796748rem  +  1.6260162602vw , 2.5rem )) {
    .footer {
      padding-bottom: clamp( 1.25rem , 0.924796748rem  +  1.6260162602vw , 2.5rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , 0.924796748rem  +  1.6260162602vw , 2.5rem )) {
    .footer {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .footer {
    padding-bottom: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .footer__container {
    padding-bottom: 71px;
  }
}
.footer__body {
  display: flex;
}
@media (min-width: 96.875em) {
  .footer__body {
    margin-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (margin-bottom: clamp( 1.25rem , 0.5995934959rem  +  3.2520325203vw , 3.75rem )) {
    .footer__body {
      margin-bottom: clamp( 1.25rem , 0.5995934959rem  +  3.2520325203vw , 3.75rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , 0.5995934959rem  +  3.2520325203vw , 3.75rem )) {
    .footer__body {
      margin-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .footer__body {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 61.99875em) {
  .footer__body {
    flex-direction: column;
  }
}
@media (max-width: 47.99875em) {
  .footer__body {
    flex-direction: column;
  }
}
@media (max-width: 47.99875em) and (min-width: 96.875em) {
  .footer__body {
    margin-bottom: 0.00000625rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 96.875em) {
  @supports (margin-bottom: clamp( 0.00000625rem , 0.00000625rem  +  0vw , 0.00000625rem )) {
    .footer__body {
      margin-bottom: clamp( 0.00000625rem , 0.00000625rem  +  0vw , 0.00000625rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.00000625rem , 0.00000625rem  +  0vw , 0.00000625rem )) {
    .footer__body {
      margin-bottom: calc(0.00000625rem + 0 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .footer__body {
    margin-bottom: 0.00000625rem;
  }
}
.footer__main {
  flex: 1 0 366px;
  width: 100%;
  margin-right: 1.6875rem;
  color: #fff;
}
@media (max-width: 61.99875em) {
  .footer__main {
    display: flex;
    justify-content: space-between;
    flex: 1 0 330px;
  }
}
@media (max-width: 520px) {
  .footer__main {
    flex-direction: column;
  }
}
.footer__logo {
  margin-bottom: 1.5625rem;
}
.footer__phone {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 1.3125rem;
}
@media (any-hover: hover) {
  .footer__phone:hover {
    color: #E13B3F;
  }
}
.footer__content {
  max-width: 22.875rem;
  margin-bottom: 3.75rem;
}
.footer__opentime {
  display: flex;
}
.footer__opentime:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.footer__opentime-text {
  max-width: 7.3125rem;
  width: 100%;
  margin-right: 1.625rem;
}
.footer__opentime-time {
  font-weight: 700;
}
.footer__address {
  display: flex;
  max-width: 22.875rem;
}
.footer__address:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.footer__address-text {
  max-width: 7.3125rem;
  width: 100%;
  margin-right: 1.625rem;
}
.footer__address-location {
  font-weight: 700;
  font-style: normal;
}
.footer__email {
  display: flex;
}
.footer__email-text {
  max-width: 7.3125rem;
  width: 100%;
  margin-right: 1.625rem;
}
.footer__email-mail {
  font-weight: 700;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .footer__email-mail:hover {
    color: #E13B3F;
  }
}
@media (max-width: 520px) {
  .footer__social {
    margin-bottom: 3.125rem;
  }
}
.footer__social-title {
  font-weight: 700;
  margin-bottom: 0.625rem;
  font-size: 1.375rem;
}
@media (max-width: 47.99875em) {
  .footer__menu {
    justify-content: flex-start;
  }
}
.footer__menu-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 3.125rem;
}
@media (min-width: 96.875em) {
  .footer__menu-list {
    column-gap: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (column-gap: clamp( 0.625rem , 0.299796748rem  +  1.6260162602vw , 1.875rem )) {
    .footer__menu-list {
      column-gap: clamp( 0.625rem , 0.299796748rem  +  1.6260162602vw , 1.875rem );
    }
  }
  @supports not (column-gap: clamp( 0.625rem , 0.299796748rem  +  1.6260162602vw , 1.875rem )) {
    .footer__menu-list {
      column-gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .footer__menu-list {
    column-gap: 0.625rem;
  }
}
@media (max-width: 47.99875em) {
  .footer__menu-list {
    flex-direction: column;
    row-gap: 0.3125rem;
    margin-bottom: 1.875rem;
  }
}
.footer__sub-link {
  color: #fff;
  display: inline-block;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
}
.footer__sub-link:not(:last-child) {
  margin-bottom: 1.875rem;
}
@media (any-hover: hover) {
  .footer__sub-link:hover {
    color: #E13B3F;
  }
}
@media (max-width: 47.99875em) {
  .footer__sub-link {
    color: #ffffffc4;
  }
}
@media (max-width: 47.99875em) {
  .footer__sub-list {
    margin-bottom: 0.9375rem;
    flex: 1 1 100%;
  }
}
.footer__sub-item:not(:last-child) {
  margin-bottom: 1.25rem;
}
.footer__rights {
  color: #fff;
}

.menu-footer {
  display: flex;
  gap: 10px;
}
@media (max-width: 1300px) {
  .menu-footer {
    justify-content: space-between;
  }
}
@media (min-width: 47.99875em) {
  .menu-footer__column {
    flex: 0 1 auto;
  }
}
@media (max-width: 47.99875em) and (min-width: 96.875em) {
  .menu-footer__column {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 96.875em) {
  @supports (margin-bottom: clamp( 0.9375rem , 0.693597561rem  +  1.2195121951vw , 1.875rem )) {
    .menu-footer__column {
      margin-bottom: clamp( 0.9375rem , 0.693597561rem  +  1.2195121951vw , 1.875rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.9375rem , 0.693597561rem  +  1.2195121951vw , 1.875rem )) {
    .menu-footer__column {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu-footer__column {
    margin-bottom: 0.9375rem;
  }
}
.menu-footer__title {
  white-space: nowrap;
  color: #fff;
  font-weight: 700;
  font-size: 1.25rem;
  transition: all 0.3s ease 0s;
}
.menu-footer__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}
@media (any-hover: hover) {
  .menu-footer__title:hover {
    color: #E13B3F;
  }
}
@media (min-width: 47.99875em) {
  .menu-footer__title {
    margin: 0px 0px 1rem 0px;
  }
}
._spoller-init .menu-footer__title {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
._spoller-init .menu-footer__title::before {
  font-size: 12px;
  transition: transform 0.3s ease 0s;
}
.menu-footer__title._spoller-active::before {
  transform: rotate(-180deg);
}
.menu-footer__item:not(:last-child) {
  margin-bottom: 1.75rem;
}
.menu-footer__link {
  white-space: nowrap;
  color: #fff;
}
@media (any-hover: hover) {
  .menu-footer__link:hover {
    color: #E13B3F;
  }
}

.footer-menu__sub-list {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease 0s;
  transform: translate(0px, 0px);
  pointer-events: all;
  position: static;
}

.footer-menu__item:last-child {
  flex: 1;
}
@media (max-width: 47.99875em) {
  .footer-menu__item {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }
}

@media (max-width: 47.99875em) {
  .footer-menu__body {
    width: 100%;
  }
}

.footer-menu__link {
  color: #fff;
  font-weight: 700;
  display: inline-block;
  white-space: nowrap;
  text-transform: uppercase;
}
.footer-menu__link:not(:last-child) {
  margin-bottom: 1.5625rem;
}
@media (any-hover: hover) {
  .footer-menu__link:hover {
    color: #E13B3F;
  }
}
@media (max-width: 47.99875em) {
  .footer-menu__link:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
@media (min-width: 47.99875em) {
  .footer-menu__link::before {
    display: none;
  }
}

.footer-menu__arrow {
  color: #fff;
}
@media (min-width: 47.99875em) {
  .footer-menu__arrow::before {
    display: none;
  }
}
@media (max-width: 47.99875em) {
  .footer-menu__arrow {
    font-size: 10px;
  }
}

@media (min-width: 96.875em) {
  .hero {
    padding-top: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (padding-top: clamp( 1.875rem , 1.549796748rem  +  1.6260162602vw , 3.125rem )) {
    .hero {
      padding-top: clamp( 1.875rem , 1.549796748rem  +  1.6260162602vw , 3.125rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 1.549796748rem  +  1.6260162602vw , 3.125rem )) {
    .hero {
      padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .hero {
    padding-top: 1.875rem;
  }
}
@media (min-width: 96.875em) {
  .hero {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (padding-bottom: clamp( 1.875rem , 1.549796748rem  +  1.6260162602vw , 3.125rem )) {
    .hero {
      padding-bottom: clamp( 1.875rem , 1.549796748rem  +  1.6260162602vw , 3.125rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 1.549796748rem  +  1.6260162602vw , 3.125rem )) {
    .hero {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .hero {
    padding-bottom: 1.875rem;
  }
}
.hero__body {
  display: flex;
  justify-content: center;
}
.hero__slider {
  max-height: 600px;
  max-width: 1520px;
}
.hero__image {
  height: 100%;
  width: 100%;
}
.hero__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 96.875em) {
  .advantages {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (padding-bottom: clamp( 1.875rem , 1.549796748rem  +  1.6260162602vw , 3.125rem )) {
    .advantages {
      padding-bottom: clamp( 1.875rem , 1.549796748rem  +  1.6260162602vw , 3.125rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 1.549796748rem  +  1.6260162602vw , 3.125rem )) {
    .advantages {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .advantages {
    padding-bottom: 1.875rem;
  }
}
.advantages__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}
@media (min-width: 96.875em) {
  .advantages__wrapper {
    gap: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (gap: clamp( 0.625rem , 0.299796748rem  +  1.6260162602vw , 1.875rem )) {
    .advantages__wrapper {
      gap: clamp( 0.625rem , 0.299796748rem  +  1.6260162602vw , 1.875rem );
    }
  }
  @supports not (gap: clamp( 0.625rem , 0.299796748rem  +  1.6260162602vw , 1.875rem )) {
    .advantages__wrapper {
      gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .advantages__wrapper {
    gap: 0.625rem;
  }
}
.advantages__item {
  padding: 1.5625rem 1rem;
  border-radius: 5px;
  background: #F4F4F4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 5.875rem;
}
@media (max-width: 39em) {
  .advantages__item {
    justify-content: flex-start;
  }
}
.advantages__image {
  margin-right: 0.625rem;
}
.advantages__image img {
  flex: 1 1 44px;
  height: 44px;
}
@media (max-width: 39em) {
  .advantages__image img {
    margin-right: 15px;
  }
}
.advantages__item-title {
  font-weight: 700;
  display: flex;
  align-items: center;
}
.advantages__item-text {
  max-width: 171px;
  font-size: 1rem;
}

@media (min-width: 96.875em) {
  .catalog {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (padding-bottom: clamp( 1.875rem , 1.549796748rem  +  1.6260162602vw , 3.125rem )) {
    .catalog {
      padding-bottom: clamp( 1.875rem , 1.549796748rem  +  1.6260162602vw , 3.125rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 1.549796748rem  +  1.6260162602vw , 3.125rem )) {
    .catalog {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .catalog {
    padding-bottom: 1.875rem;
  }
}
.catalog__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}
@media (min-width: 96.875em) {
  .catalog__wrapper {
    gap: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (gap: clamp( 0.9375rem , 0.693597561rem  +  1.2195121951vw , 1.875rem )) {
    .catalog__wrapper {
      gap: clamp( 0.9375rem , 0.693597561rem  +  1.2195121951vw , 1.875rem );
    }
  }
  @supports not (gap: clamp( 0.9375rem , 0.693597561rem  +  1.2195121951vw , 1.875rem )) {
    .catalog__wrapper {
      gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .catalog__wrapper {
    gap: 0.9375rem;
  }
}
.catalog__item {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .catalog__item:hover {
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
  }
}
.catalog__image img {
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}
@media (any-hover: hover) {
  .catalog__image img:hover {
    transform: scale(1.1);
  }
}
.catalog__category {
  position: absolute;
  padding: 8px 16px;
  background-color: #384685;
  color: #fff;
  text-transform: uppercase;
  left: 0;
  bottom: 0;
}
@media (min-width: 96.875em) {
  .catalog__category {
    font-size: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (font-size: clamp( 1rem , 0.9024390244rem  +  0.487804878vw , 1.375rem )) {
    .catalog__category {
      font-size: clamp( 1rem , 0.9024390244rem  +  0.487804878vw , 1.375rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9024390244rem  +  0.487804878vw , 1.375rem )) {
    .catalog__category {
      font-size: calc(1rem + 0.375 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .catalog__category {
    font-size: 1rem;
  }
}

@media (min-width: 96.875em) {
  .popular {
    padding-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (padding-bottom: clamp( 1.875rem , 1.0619918699rem  +  4.0650406504vw , 5rem )) {
    .popular {
      padding-bottom: clamp( 1.875rem , 1.0619918699rem  +  4.0650406504vw , 5rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 1.0619918699rem  +  4.0650406504vw , 5rem )) {
    .popular {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .popular {
    padding-bottom: 1.875rem;
  }
}
.popular__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 2.5rem;
  flex-wrap: wrap;
}
.popular__top-title {
  margin-bottom: 0;
}
@media (any-hover: hover) {
  .popular__top-link:hover {
    color: #E13B3F;
  }
}
.popular__wrapper {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  align-self: center;
  margin-bottom: 2.5rem;
}
.popular__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.05);
}
@media (min-width: 96.875em) {
  .popular__item {
    padding-left: 2.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (padding-left: clamp( 0.9375rem , 0.5797764228rem  +  1.7886178862vw , 2.3125rem )) {
    .popular__item {
      padding-left: clamp( 0.9375rem , 0.5797764228rem  +  1.7886178862vw , 2.3125rem );
    }
  }
  @supports not (padding-left: clamp( 0.9375rem , 0.5797764228rem  +  1.7886178862vw , 2.3125rem )) {
    .popular__item {
      padding-left: calc(0.9375rem + 1.375 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .popular__item {
    padding-left: 0.9375rem;
  }
}
@media (min-width: 96.875em) {
  .popular__item {
    padding-right: 2.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (padding-right: clamp( 0.9375rem , 0.5797764228rem  +  1.7886178862vw , 2.3125rem )) {
    .popular__item {
      padding-right: clamp( 0.9375rem , 0.5797764228rem  +  1.7886178862vw , 2.3125rem );
    }
  }
  @supports not (padding-right: clamp( 0.9375rem , 0.5797764228rem  +  1.7886178862vw , 2.3125rem )) {
    .popular__item {
      padding-right: calc(0.9375rem + 1.375 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .popular__item {
    padding-right: 0.9375rem;
  }
}
@media (min-width: 96.875em) {
  .popular__item {
    padding-top: 2.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (padding-top: clamp( 0.9375rem , 0.5797764228rem  +  1.7886178862vw , 2.3125rem )) {
    .popular__item {
      padding-top: clamp( 0.9375rem , 0.5797764228rem  +  1.7886178862vw , 2.3125rem );
    }
  }
  @supports not (padding-top: clamp( 0.9375rem , 0.5797764228rem  +  1.7886178862vw , 2.3125rem )) {
    .popular__item {
      padding-top: calc(0.9375rem + 1.375 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .popular__item {
    padding-top: 0.9375rem;
  }
}
@media (min-width: 96.875em) {
  .popular__item {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (padding-bottom: clamp( 0.9375rem , 0.7911585366rem  +  0.7317073171vw , 1.5rem )) {
    .popular__item {
      padding-bottom: clamp( 0.9375rem , 0.7911585366rem  +  0.7317073171vw , 1.5rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.9375rem , 0.7911585366rem  +  0.7317073171vw , 1.5rem )) {
    .popular__item {
      padding-bottom: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .popular__item {
    padding-bottom: 0.9375rem;
  }
}
.popular__image {
  width: 100%;
}
.popular__image img {
  width: 100%;
  object-fit: cover;
}
.popular__item-content {
  flex: 1 1 auto;
}
.popular__item-form {
  margin-bottom: 1rem;
}
.popular__item-price {
  display: flex;
  align-items: center;
  gap: 12px;
}
.popular__more {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75px;
  background-color: #F2F2F2;
  border-radius: 5px;
  margin: 0 auto;
  width: 100%;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .popular__more:hover {
    background-color: #384685;
    color: #fff;
  }
}

.content-popular__title {
  margin-bottom: 1.875rem;
}
.content-popular__colors {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-bottom: 1rem;
}

.price-popular {
  border-bottom: 1px solid #BDBDBD;
  border-top: 1px solid #BDBDBD;
  padding: 12px 0px 22px 0px;
  margin-bottom: 1.25rem;
}
.price-popular__old {
  font-weight: 700;
  text-decoration: line-through;
  color: #BDBDBD;
}
.price-popular__new {
  font-weight: 700;
}
@media (min-width: 96.875em) {
  .price-popular__new {
    font-size: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (font-size: clamp( 1.25rem , 1.168699187rem  +  0.406504065vw , 1.5625rem )) {
    .price-popular__new {
      font-size: clamp( 1.25rem , 1.168699187rem  +  0.406504065vw , 1.5625rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 1.168699187rem  +  0.406504065vw , 1.5625rem )) {
    .price-popular__new {
      font-size: calc(1.25rem + 0.3125 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .price-popular__new {
    font-size: 1.25rem;
  }
}

.bottom-popular__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}
.bottom-popular__button {
  min-height: 3.3125rem;
  background-color: #384685;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 0.3125rem;
}
@media (min-width: 96.875em) {
  .bottom-popular__button {
    padding-left: 4.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (padding-left: clamp( 2.8125rem , 2.3572154472rem  +  2.2764227642vw , 4.5625rem )) {
    .bottom-popular__button {
      padding-left: clamp( 2.8125rem , 2.3572154472rem  +  2.2764227642vw , 4.5625rem );
    }
  }
  @supports not (padding-left: clamp( 2.8125rem , 2.3572154472rem  +  2.2764227642vw , 4.5625rem )) {
    .bottom-popular__button {
      padding-left: calc(2.8125rem + 1.75 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .bottom-popular__button {
    padding-left: 2.8125rem;
  }
}
@media (min-width: 96.875em) {
  .bottom-popular__button {
    padding-right: 4.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (padding-right: clamp( 2.8125rem , 2.3572154472rem  +  2.2764227642vw , 4.5625rem )) {
    .bottom-popular__button {
      padding-right: clamp( 2.8125rem , 2.3572154472rem  +  2.2764227642vw , 4.5625rem );
    }
  }
  @supports not (padding-right: clamp( 2.8125rem , 2.3572154472rem  +  2.2764227642vw , 4.5625rem )) {
    .bottom-popular__button {
      padding-right: calc(2.8125rem + 1.75 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .bottom-popular__button {
    padding-right: 2.8125rem;
  }
}
@media (min-width: 96.875em) {
  .bottom-popular__button {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (font-size: clamp( 1rem , 0.9349593496rem  +  0.325203252vw , 1.25rem )) {
    .bottom-popular__button {
      font-size: clamp( 1rem , 0.9349593496rem  +  0.325203252vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9349593496rem  +  0.325203252vw , 1.25rem )) {
    .bottom-popular__button {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .bottom-popular__button {
    font-size: 1rem;
  }
}
@media (any-hover: hover) {
  .bottom-popular__button:hover {
    color: #E13B3F;
  }
}
.bottom-popular__favorite::before {
  font-size: 30px;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .bottom-popular__favorite:hover::before {
    color: #E13B3F;
  }
}
.bottom-popular__sizes {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.bottom-popular__items {
  display: flex;
  gap: 9px;
}
.bottom-popular__item-size {
  white-space: nowrap;
}

.colors-popular__item {
  width: 28px;
  height: 28px;
  border-radius: 2px;
  cursor: pointer;
}
.colors-popular__black {
  background-color: #2D2D2D;
}
.colors-popular__green {
  background-color: #4D511D;
}
.colors-popular__pink {
  background-color: #F3E7C6;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.popular__slider {
  max-width: 286px;
  padding-bottom: 21px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  gap: 19px;
}
.slick-dots button {
  height: 5px;
  border-radius: 2px;
  border: 1px solid #384685;
  cursor: pointer;
  font-size: 0;
}
@media (min-width: 96.875em) {
  .slick-dots button {
    width: 5.125rem;
  }
}
@media (min-width: 20em) and (max-width: 96.875em) {
  @supports (width: clamp( 3.4375rem , 2.9984756098rem  +  2.1951219512vw , 5.125rem )) {
    .slick-dots button {
      width: clamp( 3.4375rem , 2.9984756098rem  +  2.1951219512vw , 5.125rem );
    }
  }
  @supports not (width: clamp( 3.4375rem , 2.9984756098rem  +  2.1951219512vw , 5.125rem )) {
    .slick-dots button {
      width: calc(3.4375rem + 1.6875 * (100vw - 20rem) / 76.875);
    }
  }
}
@media (max-width: 20em) {
  .slick-dots button {
    width: 3.4375rem;
  }
}

.slick-active button {
  background-color: #384685;
}
.tippy-box[data-animation=fade][data-state=hidden] {
  opacity: 0;
}

[data-tippy-root] {
  max-width: calc(100vw - 10px);
}

.tippy-box {
  position: relative;
  background-color: #fff;
  color: #757575;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  outline: 0;
  transition-property: transform, visibility, opacity;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.tippy-box[data-placement^=top] > .tippy-arrow {
  bottom: 0;
}

.tippy-box[data-placement^=top] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  transform-origin: center top;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow {
  top: 0;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  transform-origin: center bottom;
}

.tippy-box[data-placement^=left] > .tippy-arrow {
  right: 0;
}

.tippy-box[data-placement^=left] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  transform-origin: center left;
}

.tippy-box[data-placement^=right] > .tippy-arrow {
  left: 0;
}

.tippy-box[data-placement^=right] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  transform-origin: center right;
}

.tippy-box[data-inertia][data-state=visible] {
  transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}

.tippy-arrow {
  width: 16px;
  height: 16px;
  color: #fff;
}

.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
